
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Raleway|Roboto+Slab');

* { font-family: "Raleway";
    color: rgba(0,0,0,0.8); }

a { font-weight: 700;
    color: rgba(59, 72, 202, 0.8); }

h1, h2, h3, h4, h5 { font-family: 'Raleway';
		 color: rgba(72,202,59, 0.9);
		 margin-top: 0.2cm;
	 	 margin-bottom: 0.2cm;
	 	 direction: inherit;
	 font-variant: normal;
	 page-break-inside: avoid;
	 text-align: left;
	 orphans: 2;
	 widows: 2;
	 text-decoration: none
	}

h1 { font-weight: 900;
     line-height: 110%;
   	 font-variant: small-caps;
 	   font-size: 200%;
 	}

h2 { font-weight: 700;
	 line-height: 100%;
	 font-size: 150%;
	}

h3 { font-weight: 700;
	 line-height: 100%;
	 font-size: 100%;
	}

li, tr {
  font-family: "Raleway";
  color: rgba(0,0,0,0.8);
}

.pubtag {
  vertical-align: middle;
  padding-left: 5px;
  font-size: 13pt }

a:link { so-language: zxx }

summary {
	padding-top: 10px;
	font-family: "Raleway";
}

td {
  vertical-align: top;
}

table {
  padding-top: 0px;
  padding-bottom: 10px;
}

div.resource-box {
  padding-left: 10px;
  border-left-style:solid;
  border-left-color: rgba(72,202,59, 0.2);
}

span.online {
  color: rgba(72,202,59, 0.9);
  font-weight: bold;
}

span.offline {
  color: rgba(202,59,59, 0.9);
  font-weight: bold;
}
